In [4]:
import numpy

def matrix_factorization(R, P, Q, K, steps=5000, alpha=0.0002, beta=0.02):
    '''
    R: rating matrix
    P: |U| * K (User features matrix)
    Q: |D| * K (Item features matrix)
    K: latent features
    steps: iterations
    alpha: learning rate
    beta: regularization parameter'''
    Q = Q.T

    for step in range(steps):
        for i in range(len(R)):
            for j in range(len(R[i])):
                if R[i][j] > 0:
                    # calculate error
                    eij = R[i][j] - numpy.dot(P[i,:],Q[:,j])

                    for k in range(K):
                        # calculate gradient with a and beta parameters
                        P[i][k] = P[i][k] + alpha * (2 * eij * Q[k][j] - beta * P[i][k])
                        Q[k][j] = Q[k][j] + alpha * (2 * eij * P[i][k] - beta * Q[k][j])

        eR = numpy.dot(P,Q)

        e = 0

        for i in range(len(R)):

            for j in range(len(R[i])):

                if R[i][j] > 0:

                    e = e + pow(R[i][j] - numpy.dot(P[i,:],Q[:,j]), 2)

                    for k in range(K):

                        e = e + (beta/2) * (pow(P[i][k],2) + pow(Q[k][j],2))
        # 0.001: local minimum
        if e < 0.001:
            break

    return P, Q.T, e

In [5]:
R = [
     [5,3,0,1],
     [4,0,0,1],
     [1,1,0,5],
     [1,0,0,4],
     [0,1,5,4],
     [2,1,3,0],
    ]

R = numpy.array(R)
# N: num of User
N = len(R)
# M: num of Movie
M = len(R[0])
# Num of Features
K = 3

 
P = numpy.random.rand(N,K)
Q = numpy.random.rand(M,K)

 

nP, nQ, error = matrix_factorization(R, P, Q, K)
nR = numpy.dot(nP, nQ.T)

print(R)
print(nR)
print("Error: " , error)

[[5 3 0 1]
 [4 0 0 1]
 [1 1 0 5]
 [1 0 0 4]
 [0 1 5 4]
 [2 1 3 0]]
[[5.01375573 2.89934627 5.4375737  1.00338849]
 [3.96763613 2.3583031  4.4330484  0.99988245]
 [1.05718948 0.86758506 4.65958826 4.97111058]
 [0.98131159 0.77247376 3.85631804 3.97986631]
 [2.02371593 1.11705557 4.95147629 4.00109806]
 [1.91477295 1.16224041 2.98496922 1.60767941]]
Error:  1.3923554687130955

In [6]:
import pandas as pd

df = pd.read_csv("data/matrix-factorization.csv")
df = df.fillna(0)
df.set_index("movies")

,user_0,user_1,user_2,user_3,user_4,user_5,user_6,user_7,user_8,user_9
movies,,,,,,,,,,
movie_0,4.0,5.0,4.0,3.0,5.0,1.0,0.0,3.0,2.0,0.0
movie_1,1.0,0.0,1.0,0.0,2.0,4.0,5.0,4.0,0.0,4.0
movie_2,0.0,1.0,3.0,0.0,0.0,5.0,5.0,0.0,4.0,3.0
movie_3,0.0,0.0,0.0,2.0,0.0,0.0,4.0,5.0,0.0,4.0
movie_4,4.0,4.0,0.0,5.0,0.0,3.0,1.0,4.0,0.0,0.0
movie_5,5.0,4.0,4.0,3.0,4.0,2.0,1.0,0.0,0.0,1.0
movie_6,2.0,0.0,0.0,2.0,3.0,0.0,0.0,0.0,5.0,4.0
movie_7,1.0,2.0,1.0,0.0,0.0,4.0,0.0,4.0,4.0,0.0
movie_8,0.0,0.0,1.0,0.0,2.0,0.0,5.0,4.0,0.0,5.0
movie_9,5.0,5.0,3.0,3.0,5.0,2.0,0.0,0.0,2.0,1.0

In [7]:

# R2 = df.values[1:,:]
R2 = df.values[:,1:]
print(R2)

################################################
R2 = numpy.array(R2)
# N: num of User
N2 = len(R2)
# M: num of Movie
M2 = len(R2[0])
# Num of Features
K = 4

 
P2 = numpy.random.rand(N2,K)
Q2 = numpy.random.rand(M2,K)


nP2, nQ2, error = matrix_factorization(R2, P2, Q2, K)
nR2 = numpy.dot(nP2, nQ2.T)

print(error)
print(R2)
print(nR2)

[[4.0 5.0 4.0 3.0 5.0 1.0 0.0 3.0 2.0 0.0]
 [1.0 0.0 1.0 0.0 2.0 4.0 5.0 4.0 0.0 4.0]
 [0.0 1.0 3.0 0.0 0.0 5.0 5.0 0.0 4.0 3.0]
 [0.0 0.0 0.0 2.0 0.0 0.0 4.0 5.0 0.0 4.0]
 [4.0 4.0 0.0 5.0 0.0 3.0 1.0 4.0 0.0 0.0]
 [5.0 4.0 4.0 3.0 4.0 2.0 1.0 0.0 0.0 1.0]
 [2.0 0.0 0.0 2.0 3.0 0.0 0.0 0.0 5.0 4.0]
 [1.0 2.0 1.0 0.0 0.0 4.0 0.0 4.0 4.0 0.0]
 [0.0 0.0 1.0 0.0 2.0 0.0 5.0 4.0 0.0 5.0]
 [5.0 5.0 3.0 3.0 5.0 2.0 0.0 0.0 2.0 1.0]]
8.389467438583468
[[4.0 5.0 4.0 3.0 5.0 1.0 0.0 3.0 2.0 0.0]
 [1.0 0.0 1.0 0.0 2.0 4.0 5.0 4.0 0.0 4.0]
 [0.0 1.0 3.0 0.0 0.0 5.0 5.0 0.0 4.0 3.0]
 [0.0 0.0 0.0 2.0 0.0 0.0 4.0 5.0 0.0 4.0]
 [4.0 4.0 0.0 5.0 0.0 3.0 1.0 4.0 0.0 0.0]
 [5.0 4.0 4.0 3.0 4.0 2.0 1.0 0.0 0.0 1.0]
 [2.0 0.0 0.0 2.0 3.0 0.0 0.0 0.0 5.0 4.0]
 [1.0 2.0 1.0 0.0 0.0 4.0 0.0 4.0 4.0 0.0]
 [0.0 0.0 1.0 0.0 2.0 0.0 5.0 4.0 0.0 5.0]
 [5.0 5.0 3.0 3.0 5.0 2.0 0.0 0.0 2.0 1.0]]
[[4.61731988 4.91833339 3.52043155 2.94069069 4.76770242 1.24718721
  0.79788857 3.04748012 1.84905091 0.69029518]
 [0.90019804 1.72941114 1.06853893 0.33543368 2.12712463 4.05579
  4.86690665 3.84735615 3.32005626 4.11000312]
 [2.35090409 1.03029098 2.96231256 0.88051908 2.64870767 4.93690646
  4.98181408 3.53175404 4.02297103 3.01396228]
 [2.89750917 4.45507274 2.21868084 2.02265115 4.19825436 3.58452849
  4.03597562 4.89738553 3.63737527 4.00615099]
 [4.06573331 4.0271061  3.31669261 4.8158663  3.82931785 3.01927307
  0.95816403 3.98471782 5.29220669 2.35852459]
 [4.57066386 3.97044553 3.86181027 3.24381143 4.32549734 2.06926612
  1.06260792 2.99498788 2.8599656  0.78705304]
 [2.11129568 2.42903052 2.121591   2.08343387 2.84957273 4.56043219
  4.25930459 4.4174851  4.86640952 4.11506291]
 [1.0380036  1.94236341 1.06381988 1.27247821 2.05481459 3.94947094
  4.10259398 3.93889598 4.03291558 4.15142596]
 [0.6823568  1.73806477 0.86071513 0.69851416 1.98407184 4.45043532
  5.0427413  4.23150617 4.06766676 4.72554243]
 [4.61527138 5.02512209 3.55459639 2.90240251 4.91297679 1.6671536
  1.33585697 3.42130694 2.16415777 1.14545263]]

In [8]:
# print(df.index.to_list())
# print(df.columns)

# temp_df = temp_df.set_index("movies")
# print("Index: " , df.index.to_list())
# print("Columns: " , df.columns.to_list())

new_df = pd.DataFrame(nR2, index=df.index.to_list(), columns=df.columns.to_list()[1:])
new_df

,user_0,user_1,user_2,user_3,user_4,user_5,user_6,user_7,user_8,user_9
0,4.617320,4.918333,3.520432,2.940691,4.767702,1.247187,0.797889,3.047480,1.849051,0.690295
1,0.900198,1.729411,1.068539,0.335434,2.127125,4.055790,4.866907,3.847356,3.320056,4.110003
2,2.350904,1.030291,2.962313,0.880519,2.648708,4.936906,4.981814,3.531754,4.022971,3.013962
3,2.897509,4.455073,2.218681,2.022651,4.198254,3.584528,4.035976,4.897386,3.637375,4.006151
4,4.065733,4.027106,3.316693,4.815866,3.829318,3.019273,0.958164,3.984718,5.292207,2.358525
5,4.570664,3.970446,3.861810,3.243811,4.325497,2.069266,1.062608,2.994988,2.859966,0.787053
6,2.111296,2.429031,2.121591,2.083434,2.849573,4.560432,4.259305,4.417485,4.866410,4.115063
7,1.038004,1.942363,1.063820,1.272478,2.054815,3.949471,4.102594,3.938896,4.032916,4.151426
8,0.682357,1.738065,0.860715,0.698514,1.984072,4.450435,5.042741,4.231506,4.067667,4.725542
9,4.615271,5.025122,3.554596,2.902403,4.912977,1.667154,1.335857,3.421307,2.164158,1.145453

In [9]:
user = "user_2"
# user = "user_6"

recommendations = df[df[user] == 0].index.to_list()

temp_final = new_df.iloc[recommendations][user]
final = pd.DataFrame(temp_final.to_frame())

final.sort_values(by=[user],inplace=True,ascending = False)
final

     user_2
4  3.316693
3  2.218681
6  2.121591